<div class=" has-text-centered card is-fullwidth">
  <header class="card-header notification is-info title is-5">
    <p>Edit Students
    </p>
  </header>
  <div class="card-content">
    <div class="content">
       <div class="columns">
  <div class="column is-half">
  <label class="label">First Name</label>
    <p class="notification is-info control">
      <input class="input" type="text" ng-model="clash.pets.name"></p>
  </div>
  <div class="column">
  <label class="label">Last Name</label>
    <p class="notification is-warning"><input class="input" type="text" ng-model="StudentDetail.students.lastName"></p>
  </div>
  
</div>

<div class="columns">
  <div class="column is-one-third">
  </div>
  <div class="column">
  <label class="label">Email</label>
    <p class="notification is-success"><input class="input" type="text" ng-model="StudentDetail.students.emailAddress"></p>
  </div>
  <div class="column">
  </div>
  
</div>

<div class="columns">
  <div class="column is-one-third">
  </div>
  <div class="column">
  <label class="label">Telephone</label>
    <p class="notification is-primary"><input class="input" type="text" ng-model="StudentDetail.students.telephone"></p>
  </div>
  <div class="column">
  </div>
  
</div>
    </div>
  </div>
</div>
