<br>
<div class="container" id="fixMargin">
    <div class="row">
        <div class="col-sm-5">
            <div class="championSelection">
                <label class="championTitle">Choose your champion</label>
                <br>
                <br>
                <md-radio-group class="radioPets" ng-model="pet.selectedPet">
                    <md-radio-button ng-repeat="pets in pet.owners.pets" value="{{pets.petId}}" ng-click="pet.challenger(pets.petId)" class="md-primary">{{pets.name}}</md-radio-button>
                </md-radio-group>
            </div>
            <div class="selectCategory">
                <label class="championTitle">Select a category</label>
                <br>
                <br>
                <md-select aria-label="Follow" ng-model="pet.selectedCategory" md-on-open="pet.getCategories()" style="min-width: 200px;">
                    <md-option ng-value="{{categories.categoryId}}" ng-repeat="categories in pet.categories | orderBy: 'name'">{{categories.name}}</md-option>
                </md-select>
            </div>
        </div>
        <div class="col-sm-7">
            <div ng-if="pet.pet.photos.length > 0" class="battlePhoto">
                <div class="row">
                    <div class="col-sm-6">
                        <md-radio-group class="radioPets" ng-model="pet.selectedPhoto">
                            <md-radio-button ng-repeat="photo in pet.pet.photos" value="{{photo.url}}" class="md-primary radioButtons"><img class="selectThePic" ng-src="{{photo.url}}" style="max-height: 250px;" style="max-width: 250px;"></md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div><br>
            <button class="btn btn-block btn-geckoboard btn-orange" type="submit" ng-click="pet.addBattle()">Challenge!</button>
        </div>

    </div>
</div>
</div>
