<br>	
<br>
<br>
<br>

<div class="container" id="fixMargin">
<label>Choose your champion!</label>
<ul ng-repeat="pets in pet.owners.pets">
	<input id="p1" class="Deez" name="challenger" type="radio"  value="{{pets.petId}}" ng-click="challenger()" ng-model="pet.selectedPet"> {{pets.name}}!</input>


	
</ul>



<select ng-model="pet.selectedCategory">
               <option ng-repeat="categories in pet.categories" value="{{categories.categoryId}}">{{categories.name}} </option>
</select>



<button type="submit" ng-click="pet.addBattle()">click</button>
</div>


