header {
    z-index: 10;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    padding-left: 15px;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    background-color: #46b88d;
    border-right: 15px solid #46b88d;
    border-bottom: 8px solid #46b88d;
    height: 130px;
}

.puppr {
    margin-top: 15px;
    display: inline-block;
}

.headerImage {
    float: right;
    display: inline-block;
}

.desc {
    margin-left: -10px;
}

.md-floating-label {
    font-size: 50px;
}

md-select {
    margin: 0px;
    background-color: white;
    color: black;
    height: 34px;
    border-radius: 4px;
}

.md-datepicker-input {
    background-color: white;
    color: black;
    height: 34px;
    border-radius: 4px;
}

body {
    background-color: #ffcc5c;
}

.editImage {
    max-width: 300px;
}

.checkBox {
    color: grey;
}

.modalCheckBox {
    margin-top: 16px;
    float: left;
}

.navbar {
    z-index: 10;
    margin-top: 130px;
    background-color: #318062;
    border-bottom: 1px solid grey;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}


#fixMargin {
    margin-top: 200px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.panel {
    color: black;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.panel-default,
.panel-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.panel-default,
.panel-heading {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.panel-default > .panel-heading {
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #b20533;
    font-size: 30px;
    color: white;
}


/* Buttons */

.btn-geckoboard {
    margin-top: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none ! important;
    text-shadow: none;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-purple {
    background-color: #640032;
}

.btn-purple:hover {
    background: #3c001e;
    color: #fff;
}

.btn-green {
    background-color: #66aa33;
}

.btn-green:hover {
    background: #006f3c;
    color: #fff;
}

.btn-red {
    background-color: #c92b1b;
}

.btn-red:hover {
    background:     #a32020;
    color: #fff;
}




/* adjusted form */

.adjust {
    margin-top: -50px;
    margin-bottom: 10px;
}


/* form styling */

#form-container {
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 5px;
}

#form-container .page-header {
    background: #151515;
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* numbered buttons */

#status-buttons {}

#status-buttons a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}


/* we will style the span as the circled number */

#status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


/* active buttons turn light green-blue*/

#status-buttons a.active span {
    background: #00BC8C;
}


/* style.css */


/* ANIMATION STYLINGS
============================================================================= */

#signup-form {
    margin-top: 150px;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    padding: 30px;
    color: white;
}

#form-views {
    width: auto;
}


/* basic styling for entering and leaving */


/* left and right added to ensure full width */

#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}


/* enter animation */

#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}


/* leave animation */

#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}


/* ANIMATIONS
============================================================================= */


/* slide out to the left */

@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

#day {
    margin-left: -20px;
}

#year {
    margin-left: -40px;
}

.list {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
}

.unordered .list input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.unordered .list label {
    display: block;
    position: relative;
    padding: 20px 25px 25px 50px;
    margin-top: -12px;
    margin-left: -15px;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.unordered .list:hover label {
    color: #FFFFFF;
}

.unordered .list .check {
    margin-top: -23px;
    margin-left: -20px;
    display: block;
    position: absolute;
    border: 4px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.unordered .list:hover .check {
    border: 4px solid #FFFFFF;
}

.unordered .list .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 6px;
    width: 6px;
    top: 4px;
    left: 3.5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 4px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before {
    background: #0DFF92;
}

input[type=radio]:checked ~ label {
    color: #0DFF92;
}

.md-button.md-icon-button {
    color: white;
}

.md-datepicker-input {
    background-color: white;
}

.carousel {
    border-radius: 10px;
}

.md-dialog-content {
    z-index: 1000;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
    color: #46b88d;
    font-weight: bold;
    background-color: white;
}

.md-dialog-content-body {
    text-align: center; 
    margin-top: 25px;
}

.md-title {
    text-align: center;
}

.modal-body {
    padding: 10px 40px 0px 30px;
}

.modal-header {
    color: white;
    background-color: #695783;
    border-bottom: 1px solid grey;
}

button.close {
    color: white;
    opacity: 1  ;
}

.termsLink {
    color: #46b88d;
}

md-checkbox.md-checked.blueCheck .md-icon {
 background-color: #46b88d;
}

.dogBone {
    border-radius: 10px;
    background-color: white;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);

}

.boneImage {
    position: relative;
    margin-top: -70px;
    margin-left: 25px;
    background-size: 250px 200px;
    transform: rotate(135deg);
}

.boneText {
    position: absolute;
    margin-top: -173px;
    text-align: center;
    width: 360px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    color: #2c1549;
    font-weight: bold;
}

.dogPhoto {
    margin-top: -30px;
    max-width: 360px;
    text-align: center;
}

.dogMainPic {
    margin-top: -30px;
    max-width: 300px;
    border-radius: 10px;
}

