/* navigation */

header {
    z-index: 10;
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    padding-left: 15px;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    background-color: #46b88d;
    border-right: 15px solid #46b88d;
    border-bottom: 8px solid #46b88d;
    height: 130px;
}

.defaultDog {
    margin-top: -10px;
    width: 270px;
    border-radius: 100%;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.navbar {
    z-index: 10;
    margin-top: 130px;
    background-color: #318062;
    border-bottom: 1px solid grey;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/* home page */

#myCarousel {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}


/* dialog trans*/

md-dialog.md-transition-in {
    background-color: white;
}

.carouselCaption {
    margin-left: -127px;
    margin-bottom: 10px;
    width: 635px;
    padding: 15px;
    background-color: black;
    opacity: 0.5;
}

#fixMargin {
    margin-top: 200px;
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.carImg {
    border-radius: 10px;
}

.puppr {
    text-decoration: none;
    color: white;
    margin-top: 15px;
    display: inline-block;
}

.puppr > a {
    text-decoration: none;
    color: white;
}

.headerImage {
    float: right;
    display: inline-block;
}

.desc {
    margin-left: -10px;
}

.md-floating-label {
    font-size: 50px;
}

md-select {
    margin: 0px;
    background-color: white;
    color: black;
    height: 34px;
    border-radius: 4px;
}

.md-datepicker-input {
    background-color: white;
    color: black;
    height: 34px;
    border-radius: 4px;
}

.mainFemale {
    margin-left: 25px;
}

.md-button.md-icon-button {
    margin-left: -6px;
}

.birthdayLabel {
    margin-bottom: -20px;
    margin-left: 5px;
}

.add-dog {
    margin-top: 10px;
    float: right;
}

body {
    background-color: #ffcc5c;
    background-size: cover;
}

.xContainer {
    text-align: right;
}

.theX {
    cursor: pointer;
    margin-top: 20px;
    font-size: 25px;
    color: #c92b1b;
}

.nameMargin {
    margin-top: 12px;
}

.dogMargin {
    margin-top: 11px;
}

.editAbout {
    margin-bottom: 30px;
}

.editOwnerPic {
    object-fit: cover;
    margin-top: 10px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.photoSpan {
    position: relative;
}

.editImage {
    object-fit: cover;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.photoSpan:hover > .deleteImage{
    visibility:visible;
}

.deleteImage {
    visibility: hidden;
    position: absolute;
    top: 100px;
    text-align: center;
    left: 0px;
    font-size: 22px;
    margin-top: -30px;
    width: 200px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: black;
    opacity: 0.7;
}

.profImage {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    object-fit: cover;
    margin-top: -10px;
    height: 270px;
    width: 270px;
    border-radius: 100%;
}

.faveAct {
    margin-bottom: 27px;
}

.backColor {
    background-color: #ffcc5c;
    padding-bottom: 20px;
}

.checkBox {
    color: grey;
}

.modalCheckBox {
    margin-top: 16px;
    float: left;
}

.panel {
    color: black;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    border: 0px;
}

.panel-default,
.panel-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.panel-default,
.panel-heading {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.panel-default > .panel-heading {
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #b20533;
    font-size: 30px;
    color: white;
}


/* Buttons */

.btn-geckoboard {
    margin-top: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none ! important;
    text-shadow: none;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.btn-purple {
    background-color: #640032;
}

.btn-purple:hover {
    background: #3c001e;
    color: #fff;
}

.btn-grey {
    background-color: #999999;
}

.btn-grey:hover {
    background:     #4b4236;
    color: #fff;
}

.btn-green {
    background-color: #66aa33;
}

.btn-green:hover {
    background: #006f3c;
    color: #fff;
}

.btn-orange {
    background-color:   #ff5a1d;
}

.btn-orange:hover {
    background:     #e12707;
    color: #fff;
}

.btn-red {
    background-color: #c92b1b;
}

.btn-red:hover {
    background: #a32020;
    color: #fff;
}

.btn-pad {
    margin-top: 15px;
}

.btn-margin {
    margin-top: 25px;
}

.slightMargin {
    margin-top: 5px;
}

.adjustFile {
    margin-top: 10px;
}


/* form styling */

#form-container {
    margin-top: -150px;
    background: #2f2f2f;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

#form-container .page-header {
    background: #151515;
    margin: 0;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


/* numbered buttons */

#status-buttons {}

#status-buttons a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}


/* we will style the span as the circled number */

#status-buttons span {
    background: #080808;
    display: block;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    width: 30px;
    border-radius: 50%;
}


/* active buttons turn light green-blue*/

#status-buttons a.active span {
    background: #00BC8C;
}


/* style.css */


/* ANIMATION STYLINGS
============================================================================= */

#signup-form {
    margin-top: 150px;
    position: relative;
    min-height: 300px;
    overflow: hidden;
    padding: 20px 30px 20px 30px;
    color: white;
}

#form-views {
    width: auto;
}


/* basic styling for entering and leaving */


/* left and right added to ensure full width */

#form-views.ng-enter,
#form-views.ng-leave {
    position: absolute;
    left: 30px;
    right: 30px;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}


/* enter animation */

#form-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}


/* leave animation */

#form-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}


/* ANIMATIONS
============================================================================= */


/* slide out to the left */

@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

.signUpHeading {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

.md-button.md-icon-button {
    color: white;
}

.carousel {
    border-radius: 10px;
}

.md-dialog-content {
    z-index: 1000;
}

.md-button.md-default-theme.md-primary,
.md-button.md-primary {
    color: #46b88d;
    font-weight: bold;
    background-color: white;
}

.md-dialog-content-body {
    text-align: center;
    margin-top: 25px;
}

.md-title {
    text-align: center;
}

.modal-body {
    padding: 10px 40px 0px 30px;
}

.modal-header {
    color: white;
    background-color: #695783;
    border-bottom: 1px solid grey;
}

button.close {
    color: white;
    opacity: 1;
}

.termsLink {
    color: #46b88d;
}

.termsLink:hover {
    color: #46b88d;
}

md-checkbox.md-checked.blueCheck .md-icon {
    background-color: #46b88d;
}

.dogBowl {
    text-align: center;
    border-radius: 10px;
    background-color:   #5f617a;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}


.bowlImage {
    text-align: center;
    position: relative;
    margin-top: -30px;
}

.bowlText {
    position: absolute;
    margin-left: 195px;
    margin-top: -105px;
    text-align: center;
    width: 360px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    color: #e5623b;
    font-weight: bold;
    text-shadow: 1px 1px #b74e2f;
}

.dogBone {
    border-radius: 10px;
    background-color: #cdff66;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.boneImage {
    position: relative;
    margin-top: -70px;
    margin-left: 25px;
    background-size: 250px 200px;
    transform: rotate(135deg);
}

.boneText {
    position: absolute;
    margin-top: -173px;
    text-align: center;
    width: 360px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    color: #e5623b;
    font-weight: bold;
    text-shadow: 1px 1px #b74e2f;
}

.dogPhoto {
/*        padding: 20px 0;*/
/*    background-color: #142e42;*/
    margin-top: -60px;
    max-width: 360px;
    text-align: center;
/*        box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);*/
}

.radioButtons {
    display: inline;
}

.maleRadio {
    margin-left: 5px;
}

md-content.md-default-theme,
md-content {
    color: white;
    background-color: #2f2f2f;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.genderLabel {
    margin-left: 5px;
    margin-bottom: 13px;
}

.secondGender {
    margin-bottom: 20px;
}

.femaleButton {
    margin-left: 40px;
}

md-radio-button.md-default-theme .md-off,
md-radio-button .md-off {
    border-color: white;
    text-transform: capitalize;
}

md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
    background-color: #318062;
}

md-tabs .md-tab.md-active {
    color: #46b88d;
    text-transform: capitalize;
}

md-tabs .md-tab {
    text-transform: capitalize;
    color: white;
}

element.style {
    visibility: hidden;
}

.newOwnerImg {
    width: 262.5px;
    margin-bottom: 5px;
}

.lastOwnerImg {
    width: 262.5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.firstOwnerImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.photoCont {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.show {
    display: none;
}

.termsDog {
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    width: 360px;
}

.theTerms {
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    height: 412px;
    overflow: scroll;
    overflow-x: hidden;
}

ul > li {
    cursor: pointer;
}

/* dog profile */

.dogProfileOne {
    text-align: center;
    border-radius: 10px;
    background-color:   #804a62;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.dogProfPic {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    object-fit: cover;
    height: 270px;
    width: 270px;
    border-radius: 10px;
    position: relative;
}

.smallOwnerPic {
    position: absolute;
    top: 230px;
    left: 250px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #c92b1b;
}

.dogProfBone {
    min-height: 230px;
    padding: 20px;
    text-align: right;
    border-radius: 10px;
    background-color: #e5623b;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.dogBoneImage {
    margin-top: -60px;
    float: right;
}

.dogProfText {
    display: block;
    text-align: left;
    width: 360px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0,0,0, .8);
    border-bottom: 5px solid #b74e2f;
    margin-bottom: 20px;
    margin-top: -18px;
}

.dogInfo {
    font-size: 15px;
    color: white;
    text-align: left;
}

.miniTitle {
    font-size: 20px;
    border-bottom: 2px solid #b74e2f;
}

/* owner profile */

.smallDogPic {
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    object-fit: cover;
    height: 82px;
    width: 82px;
    margin-bottom: 11px;
    border-radius: 100%;
    border: 5px solid #c92b1b;
}

.dogToy {
    float: right;
}

.ownerInfo {
    padding: 15px;
    min-height: 205px;
    text-align: center;
    border-radius: 10px;
    background-color: #804a62;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.ownerName {
    margin-top: -10px;
    display: block;
    text-align: left;
    width: 360px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0,0,0, .8);
    border-bottom: 5px solid #4c2c3a;
    margin-bottom: 20px;
}

.ownerBio {
    color: white;
    text-align: left;
}

/* search */

.allDogs {
    border: 5px solid #999999;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
    object-fit: cover;
    height: 270px;
    width: 270px;
    border-radius: 100%;
    margin-bottom: 10px;
    position: relative;
}

.allDogsCapt {
    position: absolute;
    top: 220px;
    text-align: center;
    left: 25px;
    font-size: 16px;
    margin-top: -30px;
    width: 243px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}

/* battle */

.championTitle {
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0,0,0, .8);
}

.championSelection {
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: #5f617a;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.selectCategory {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: #66aa33;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, .3), -8px 8px 15px rgba(0, 0, 0, .3);
}

.radioPets {
    text-align: left;
}

.