<br>
<div class="container" id="fixMargin">
    <div class="col-sm-4">
        <div class="dogProfileOne">
            <br>
            <span>
            <img class="dogProfPic" ng-src="{{dog.pet.photos[0].url}}">
            <a ui-sref="puppr.profile.owner({user: dog.pet.owner.userName})"><img class="smallOwnerPic" ng-src="{{dog.pet.owner.photo}}"></a>
            </span>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div ng-if="dog.pet.ownerId != dog.currentOwnerId">
                        <button type="submit" class="btn btn-geckoboard btn-green btn-block" ui-sref="puppr.battle.pets({challengePetId: dog.pet.petId})">Challenge</button>
                <br>
                    </div>
                    <div ng-if="dog.pet.ownerId === dog.currentOwnerId">
                        <button type="submit" class="btn btn-geckoboard btn-grey btn-block">Challenge<md-tooltip md-visible="demo.showTooltip" md-direction="top">Oops! You can't challenge yourself!</md-tooltip></button><br>
                
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="dogProfBone">
            <img width="300" class="dogBoneImage" src="http://i.imgur.com/h2Alyfv.png">
            <div class="dogProfText">{{dog.pet.name}}</div>
            <div class="dogInfo">
                <p><b>{{dog.pet.name}}</b> is a <b>{{dog.pet.gender | lowercase}}</b> <b>{{dog.pet.breed.name | lowercase}}</b> born on <b>{{dog.pet.dateOfBirth | date:"MMMM d, y"}}</b>. His favorite dog toy is <b>{{dog.pet.toy}}</b> and he loves munching on <b>{{dog.pet.dogFood}}</b>. But most of all, <b>{{dog.pet.name}}</b> absolutely adores <b>{{dog.pet.activity}}</b>.</p>
            </div>
        </div>
        <br>
        <div class="dogBone">
        <img width="135px" class="catPic" src="http://i.imgur.com/vWRbmxE.png">
        <p class="coming">coming soon...</p><p class="meowr">meowr!</p>
        </div>
    </div>
</div>
