<br>
<div id="fixMargin" class="container">
    <div class="col-sm-7">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg" alt="Chania">
                </div>
                <div class="item">
                    <img src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Common-dog-behaviors-explained.jpg?itok=FSzwbBoi" alt="Flower">
                </div>
                <div class="item">
                    <img src="http://i.imgur.com/pLX9l0Z.png" alt="Flower">
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Join us!</div>
            <div class="panel-body">
                <form name="signUp" ng-submit="home.register(signUp.$valid)" novalidate>
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input minlength="6" maxlength="20" type="text" required md-no-asterisk name="newUsername" ng-model="home.newUsername">
                        <div ng-messages="signUp.newUsername.$error" role="alert">
                            <div ng-message="minlength">Your username must be between 6-20 characters in length</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input minlength="8" maxlength="20" type="password" md-no-asterisk name="newPassword" ng-model="home.newPassword" required>
                        <div ng-messages="signUp.newPassword.$error" role="alert">
                            <div ng-message="minlength">Your password must contain at least 8 characters</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Confirm Password</label>
                        <input max-length="20" type="password" md-no-asterisk name="newConfirmPassword" ng-model="home.newConfirmPassword" required compare-to="home.newPassword">
                        <div ng-messages="signUp.newConfirmPassword.$error">
                            <div ng-message="compareTo">Your passwords do not match</div>
                        </div>
                    </md-input-container>
                    <div class="col-sm-12 text-center">
                        <md-checkbox class="checkBox blueCheck" ng-model="home.checkBox" aria-label="Checkbox 1">
                            I agree to the <a class="termsLink" ui-sref="puppr.terms">Terms of Service</a>
                        </md-checkbox>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-block btn-geckoboard btn-purple">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="signUpModal" class="modal fade" tabindex="-1" data-focus-on="input:first" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Sign Up</h4>
            </div>
            <div class="modal-body">
                <form name="signUpModal" novalidate>
                    <div class="col-sm-12">
                        <div class="row">
                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input minlength="6" maxlength="20" type="text" required md-no-asterisk name="newUsername" ng-model="home.newUsername">
                                <div ng-messages="signUpModal.newUsername.$error" role="alert">
                                    <div ng-message="minlength">Your username must be between 6-20 characters in length</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input minlength="8" maxlength="20" type="password" md-no-asterisk name="newPassword" ng-model="home.newPassword" required>
                                <div ng-messages="signUpModal.newPassword.$error" role="alert">
                                    <div ng-message="minlength">Your password must contain at least 8 characters</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-sm-6">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Confirm Password</label>
                                <input max-length="20" type="password" md-no-asterisk name="newConfirmPassword" ng-model="home.newConfirmPassword" required compare-to="home.newPassword">
                                <div ng-messages="signUpModal.newConfirmPassword.$error">
                                    <div ng-message="compareTo">Your passwords do not match</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <md-checkbox class="checkBox modalCheckBox blueCheck" ng-model="home.checkBox" aria-label="Checkbox 1">
                            I agree to the <a class="termsLink" ui-sref="puppr.terms">Terms of Service</a>
                        </md-checkbox>
                        <button type="submit" data-dismiss="modal" class="btn btn-geckoboard btn-red">Cancel</button>
                        <button type="submit" ng-click="home.register(signUpModal.$valid)" data-dismiss="modal" class="btn btn-geckoboard btn-green">Join Us</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="logInModal" class="modal fade" tabindex="-1" data-focus-on="input:first" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Log In</h4>
            </div>
            <div class="modal-body">
                <form name="login" ng-submit="home.login()">
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input minlength="6" maxlength="20" type="text" required md-no-asterisk name="username" ng-model="home.username">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input minlength="8" maxlength="20" type="password" md-no-asterisk name="password" ng-model="home.password" required>
                    </md-input-container>
            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="home.login()" data-dismiss="modal" class="btn btn-block btn-geckoboard btn-green">Connect</button>
            </div>
            </form>
        </div>
    </div>
</div>
