<p class="signUpHeading">Now, tell us about your pup!</p>
<br>
<div class="row">
    <div class="col-sm-5">
        <label for="name">Name</label>
        <input maxlength="15" type="text" class="form-control" name="name" ng-model="newDog.name">
    </div>
    <div class="col-sm-4">
        <label for="breed">Breed</label>
        <md-select aria-label="Follow" ng-model="newDog.selectedBreed" md-on-open="newDog.getBreeds()" style="min-width: 200px;">
            <md-option ng-value="option" ng-repeat="option in newDog.breeds | orderBy: 'name'">{{option.name}}</md-option>
        </md-select>
    </div>
    <div class="col-sm-3">
        <label class="birthdayLabel" for="birthday">Birthday</label>
        <md-datepicker name="date" ng-model="newDog.birthday" md-placeholder="Enter date" required></md-datepicker>
        <div class="errors" ng-messages="date.$error">
            <div ng-message="required">Required</div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="slightMargin">
        <div class="col-sm-5">
            <label for="food">Favorite Food</label>
            <input type="text" class="form-control" name="food" ng-model="newDog.food">
        </div>
        <div class="col-sm-4">
            <label for="food">Favorite Toy</label>
            <input type="text" class="form-control" name="food" ng-model="newDog.toy">
        </div>
        <div class="col-sm-3">
            <label for="gender" class="genderLabel">Gender</label>
            <br>
            <md-radio-group ng-model="newDog.gender">
                <md-radio-button value="Male" class="md-primary radioButtons maleRadio">Male</md-radio-button>
                <md-radio-button value="Female" class="radioButtons mainFemale">Female</md-radio-button>
            </md-radio-group>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="slightMargin">
        <div class="col-sm-12">
            <label for="activity">Favorite Activities</label>
            <textarea ng-model="newDog.activity" name="activity" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ng-click="newDog.addPet()" class="btn btn-block btn-geckoboard btn-red btn-margin">
    Next <span class="  glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>
</div>
<div class="row">
</div>
