<h3>Now, tell us about your pup!</h3>
<div class="row">
    <div class="col-sm-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" ng-model="newDog.name">
    </div>
    <div class="col-sm-6">
        <label for="breed">Breed</label>
        <select name="breed" class="form-control" ng-init="newDog.selectedBreed = newDog.breeds[0]" ng-model="newDog.selectedBreed" ng-options="option.name for option in newDog.breeds">
        </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-7">
        <label for="birthday">Gender</label>
    </div>
    <div class="col-sm-5">
        <label for="gender">Birthday</label>
    </div>
</div>
<div class="row">
<div class="unordered">
        <div class="col-sm-2">
            <div class="list">
                <input type="radio" id="f-option" name="selector" ng-model="newDog.gender" value="male">
                <label for="f-option">Male</label>
                <div class="check"></div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="list">
                <input type="radio" id="s-option" name="selector" ng-model="newDog.gender" value="female">
                <label for="s-option">Female</label>
                <div class="check">
                    <div class="inside"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <md-datepicker ng-model="newDog.birthday" md-placeholder="Enter date"></md-datepicker>
    </div>
    
</div>
<div class="row">
    <div class="col-sm-6 adjust">
        <label for="food">Favorite Food</label>
        <input type="text" class="form-control" name="food" ng-model="newDog.food">
    </div>
    <div class="col-sm-6 adjust">
        <label for="food adjust">Favorite Toy</label>
        <input type="text" class="form-control" name="food" ng-model="newDog.toy">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label for="activity">Favorite Activities</label>
        <textarea ng-model="newDog.activity" name="activity" class="form-control"></textarea>
    </div>
</div>
<br><br>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ng-click="newDog.addPet()" class="btn btn-block btn-info">
    Next <span class="	glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>
</div>
<div class="row">
</div>
