<p class="signUpHeading">Tell us a little bit about yourself!</p>
<br><br>
<div class="row">
    <div class="col-sm-6">
        <label for="name">First Name</label>
        <input maxlength="15" type="text" class="form-control" ng-model="newOwner.owner.firstName">
    </div>
    <div class="col-sm-6">
        <label for="name">Last Name</label>
        <input maxlength="15" type="text" class="form-control" ng-model="newOwner.owner.lastName">
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
        <label for="email">About Me</label>
        <textarea class="form-control" ng-model="newOwner.owner.biography"></textarea>
    </div>
</div>
<br>
<br><br>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ng-click="newOwner.editOwner(newOwner.owner)" class="btn btn-block btn-geckoboard btn-red btn-pad">Next<span class=" glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <br><br>
</div>
